<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
    Checkstyle configuration that checks the Google coding conventions from Google Java Style
    that can be found at https://google.github.io/styleguide/javaguide.html.

    Checkstyle is very configurable. Be sure to read the documentation at
    http://checkstyle.sf.net (or in your downloaded distribution).

    To completely disable a check, just comment it out or delete it from the file.

    Authors: Max Vetrenko, Ruslan Diachenko, Roman Ivanov.
 -->

<module name = "Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="error"/>
    <property name="fileExtensions" value="java, properties, xml"/>

    <!-- Exclude generated acquiring code -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern"
                value=".*[\\/]com[\\/]srg[\\/]lm[\\/]core[\\/]extension[\\/]acquiring[\\/].*[\\/]generated[\\/].*$"/>
    </module>

    <!-- Exclude unit test code -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern"
                  value=".*[\\/]src[\\/]test[\\/]java[\\/]com[\\/]srg[\\/]lm[\\/].*$"/>
    </module>

    <!-- Exclude module test code -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern"
                  value=".*[\\/]src[\\/]integration[\\/]java[\\/].*$"/>
    </module>

    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile"/>

    <!-- Size Violations -->
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>

    <module name="TreeWalker">
        <!-- Imports -->
        <module name="AvoidStarImport"/>
        <module name="AvoidStaticImport"/>

        <module name="CustomImportOrder">
            <property name="customImportOrderRules" value="STATIC###THIRD_PARTY_PACKAGE###STANDARD_JAVA_PACKAGE"/>
            <property name="separateLineBetweenGroups" value="true"/>
        </module>

        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- Modifiers -->
        <module name="ModifierOrder"/>

        <module name="RedundantModifier">
            <property name="tokens"
                    value="METHOD_DEF, VARIABLE_DEF, ANNOTATION_FIELD_DEF,
                            INTERFACE_DEF, CLASS_DEF, ENUM_DEF, RESOURCE"/>
        </module>

        <!-- Javadoc Comments -->
        <module name="InvalidJavadocPosition"/>
        <module name="JavadocMissingLeadingAsterisk"/>
        <module name="JavadocMissingWhitespaceAfterAsterisk"/>

        <!-- Annotations -->
        <module name="AnnotationLocation">
            <property name="allowSamelineSingleParameterlessAnnotation" value="false"/>
        </module>

        <module name="AnnotationUseStyle"/>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="PackageAnnotation"/>

        <!-- Naming Conventions -->
        <module name="AbbreviationAsWordInName">
            <property name="allowedAbbreviationLength" value="2"/>
            <property name="ignoreFinal" value="false"/>
        </module>

        <module name="CatchParameterName"/>
        <module name="ClassTypeParameterName"/>

        <module name="ConstantName">
            <property name="format" value="^log$|^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$"/>
        </module>

        <module name="InterfaceTypeParameterName"/>
        <module name="LambdaParameterName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <!-- <module name="MemberName"/> -->
        <module name="MethodName"/>
        <module name="MethodTypeParameterName"/>

        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module>

        <module name="ParameterName"/>
        <module name="PatternVariableName"/>
        <module name="RecordComponentName"/>
        <module name="RecordTypeParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <!-- Class Design -->
        <!-- <module name="HideUtilityClassConstructor"/> -->
        <module name="MutableException"/>
        <module name="OneTopLevelClass"/>
        <module name="ThrowsCount"/>

        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>

        <!-- Block Checks -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>

        <module name="LeftCurly">
            <property name="ignoreEnums" value="false"/>
        </module>

        <module name="NeedBraces"/>

        <module name="RightCurly">
            <property name="tokens"
                    value="LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, CLASS_DEF,
                            METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, LITERAL_DO, STATIC_INIT, INSTANCE_INIT,
                            ANNOTATION_DEF, ENUM_DEF, INTERFACE_DEF, RECORD_DEF, COMPACT_CTOR_DEF"/>
        </module>

        <!-- Coding -->
        <module name="AvoidDoubleBraceInitialization"/>
        <module name="AvoidNoArgumentSuperConstructorCall"/>
        <module name="CovariantEquals"/>
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>

        <module name="IllegalCatch">
            <property name="illegalClassNames" value="Error, Throwable, java.lang.Error, java.lang.Throwable"/>
        </module>

        <module name="IllegalInstantiation">
            <property name="classes" value="java.lang.Boolean, java.lang.Integer"/>
        </module>

        <module name="IllegalThrows">
            <property name="ignoredMethodNames" value="proceedAsDomainMethod"/>
        </module>

        <module name="IllegalToken"/>
        <module name="InnerAssignment"/>

        <module name="MagicNumber">
            <property name="ignoreHashCodeMethod" value="true"/>
            <property name="ignoreAnnotation" value="true"/>
        </module>

        <module name="MissingSwitchDefault"/>

        <module name="ModifiedControlVariable">
            <property name="skipEnhancedForLoopVariable" value="true"/>
        </module>

        <module name="MultipleVariableDeclarations"/>
        <module name="NestedTryDepth"/>
        <module name="NoArrayTrailingComma"/>
        <module name="NoClone"/>
        <module name="NoEnumTrailingComma"/>
        <module name="NoFinalizer"/>
        <module name="OneStatementPerLine"/>
        <module name="PackageDeclaration"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>
        <module name="UnusedLocalVariable"/>

        <!-- Whitespace -->
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>

        <module name="EmptyLineSeparator">
            <property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>

        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoLineWrap"/>

        <module name="NoWhitespaceAfter">
            <property name="allowLineBreaks" value="false"/>
            <property name="tokens"
                    value="AT, INC, DEC, UNARY_MINUS, UNARY_PLUS, BNOT, LNOT,
                            DOT, ARRAY_DECLARATOR, INDEX_OP, METHOD_REF"/>
        </module>

        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceBeforeCaseDefaultColon"/>

        <module name="OperatorWrap"/>
        <module name="OperatorWrap">
            <property name="option" value="eol"/>
            <property name="tokens"
                    value="ASSIGN,DIV_ASSIGN,PLUS_ASSIGN,MINUS_ASSIGN,STAR_ASSIGN,
                            MOD_ASSIGN,SR_ASSIGN,BSR_ASSIGN,SL_ASSIGN,BXOR_ASSIGN,BOR_ASSIGN,BAND_ASSIGN"/>
        </module>

        <module name="ParenPad"/>

        <module name="SeparatorWrap">
            <property name="tokens" value="COMMA, SEMI, ELLIPSIS"/>
        </module>
        <module name="SeparatorWrap">
            <property name="option" value="nl"/>
            <property name="tokens" value="DOT, AT, METHOD_REF"/>
        </module>

        <module name="SingleSpaceSeparator"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>

        <!-- Miscellaneous -->
        <module name="ArrayTypeStyle"/>

        <module name="Indentation">
            <property name="arrayInitIndent" value="8"/>
            <property name="throwsIndent" value="8"/>
        </module>

        <module name="NoCodeInFile"/>
        <module name="OuterTypeFilename"/>
        <module name="UpperEll"/>
    </module>
</module>
